python-telegram-bot[job-queue]>=20.0
supabase>=1.0.3
python-dotenv
pytz
pytest
pytest-mock
pillow
psycopg2-binary
pydantic
requests
typing_extensions
google-generativeai
numpy
Levenshtein
langid
openai